@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* পুরো ওয়েবসাইটের ব্যাকগ্রাউন্ড ডার্ক কালার */
  color: #f8fafc; /* লেখার কালার হালকা সাদা */
  font-family: sans-serif;
}

/* প্লে-স্টোর স্টাইল হরাইজন্টাল স্ক্রলবারের কাস্টম ডিজাইন (স্ক্রিনশটের জন্য) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
